# 1.12
# CoFH Master AT List

public net.minecraft.client.gui.FontRenderer func_78280_d(Ljava/lang/String;I)Ljava/lang/String;										# wrapFormattedStringToWidth
public net.minecraft.client.gui.inventory.GuiContainer *																				# EVERYTHING

public net.minecraft.client.multiplayer.PlayerControllerMP field_178895_c																# currentBlock
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f																# curBlockDamageMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78778_j																# isHittingBlock
public net.minecraft.client.multiplayer.PlayerControllerMP field_85183_f																# currentItemHittingBlock

public net.minecraft.client.particle.Particle field_187129_i																			# motionX
public net.minecraft.client.particle.Particle field_187130_j																			# motionY
public net.minecraft.client.particle.Particle field_187131_k																			# motionZ

public net.minecraft.client.particle.ParticleFirework$Spark field_92050_aA																# fadeColourRed
public net.minecraft.client.particle.ParticleFirework$Spark field_92051_aB																# fadeColourGreen
public net.minecraft.client.particle.ParticleFirework$Spark field_92052_aC																# fadeColourBlue
public net.minecraft.client.particle.ParticleFirework$Spark field_92053_aD																# hasFadeColour

public net.minecraft.client.particle.ParticlePortal <init>(Lnet/minecraft/world/World;DDDDDD)V											# ParticlePortal
public net.minecraft.client.particle.ParticleSimpleAnimated field_187147_a																# textureIdx

public net.minecraft.client.renderer.BufferBuilder field_179010_r																		# isDrawing

public net.minecraft.entity.Entity field_70178_ae																						# isImmuneToFire
public net.minecraft.entity.Entity field_83001_bt																						# invulnerable

public net.minecraft.entity.EntityLiving field_184655_bs																				# inventoryArmorDropChances
public net.minecraft.entity.EntityLiving field_82174_bp																					# inventoryHandsDropChances

public net.minecraft.entity.EntityLivingBase field_184627_bm																			# activeItemStack

public net.minecraft.entity.item.EntityItem field_70292_b																				# age

public net.minecraft.entity.projectile.EntityArrow *																					# EVERYTHING
public net.minecraft.entity.projectile.EntityFishHook *																					# EVERYTHING

public net.minecraft.inventory.Container field_94535_f																					# dragMode
public net.minecraft.inventory.Container field_94536_g																					# dragEvent
public net.minecraft.inventory.Container field_94537_h																					# dragSlots

public net.minecraft.item.ItemAxe field_150917_c																						# EFFECTIVE_ON
public net.minecraft.item.ItemBow func_185060_a(Lnet/minecraft/entity/player/EntityPlayer;)Lnet/minecraft/item/ItemStack;				# findAmmo
public net.minecraft.item.ItemPickaxe field_150915_c																					# EFFECTIVE_ON
public net.minecraft.item.ItemSpade field_150916_c																						# EFFECTIVE_ON

public net.minecraft.nbt.NBTTagByteArray func_74734_a(Ljava/io/DataOutput;)V															# write

public net.minecraft.server.management.PlayerChunkMapEntry field_187283_c																# players
public net.minecraft.server.management.PlayerInteractionManager field_73094_o															# durabilityRemainingOnBlock
public net.minecraft.server.management.PlayerProfileCache field_152661_c																# usernameToProfileEntryMap
public net.minecraft.server.management.PlayerProfileCache$ProfileEntry																	# ProfileEntry

public net.minecraft.util.registry.RegistryNamespaced field_148759_a																	# underlyingIntegerMap
public net.minecraft.util.registry.RegistrySimple field_82596_a																			# registryObjects

public net.minecraft.world.chunk.Chunk field_150816_i																					# chunkTileEntityMap
public net.minecraft.world.chunk.Chunk field_76636_d																					# isChunkLoaded

public net.minecraft.world.World field_72999_e																							# scheduledUpdatesAreImmediate
public net.minecraft.world.World field_73008_k																							# skylightSubtracted
public net.minecraft.world.World field_73016_r																							# lastLightningBolt

public net.minecraft.world.WorldServer field_73068_P																					# allPlayersSleeping

public-f net.minecraft.entity.player.InventoryPlayer field_70462_a																		# mainInventory


#JEI 
#rendering
public net.minecraft.client.renderer.RenderItem func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel


#BoP
public net.minecraft.client.gui.GuiCreateWorld field_146331_K #selectedIndex
public-f net.minecraft.client.gui.GuiMainMenu field_73978_o #titlePanoramaPaths

public net.minecraft.util.SoundEvent func_187502_a(Ljava/lang/String;)V #registerSound

public net.minecraft.world.WorldType func_151358_j()Lnet/minecraft/world/WorldType; #setNotificationData

public-f net.minecraft.item.ItemAxe field_185066_m #ATTACK_DAMAGES
public-f net.minecraft.item.ItemAxe field_185067_n #ATTACK_SPEEDS

protected net.minecraft.world.biome.BiomeProvider field_76944_d #genBiomes
protected net.minecraft.world.biome.BiomeProvider field_76945_e #biomeIndexLayer

public-f net.minecraft.world.gen.feature.WorldGenMinable *
public-f net.minecraft.world.gen.structure.WoodlandMansion field_191072_a #ALLOWED_BIOMES

public-f net.minecraft.world.biome.Biome func_185355_j()F #getBaseHeight
public-f net.minecraft.world.biome.Biome func_185360_m()F #getHeightVariation

public net.minecraft.item.crafting.ShapedRecipes func_192402_a([Ljava/lang/String;Ljava/util/Map;II)Lnet/minecraft/util/NonNullList;


#Cuisine
# Used by EntityRegistry.onEntityJoin for applying custom AI task
public net.minecraft.entity.ai.EntityAIAvoidEntity field_181064_i # classToAvoid

# Used by PlayerHandler.onPlayerJoinWorld for injecting custom FoodStats
public net.minecraft.entity.player.EntityPlayer field_71100_bB #foodStats

# Used by AdvancedFontRenderer for extentded formatting code. TODO Can we somehow get rid of these???
protected net.minecraft.client.gui.FontRenderer field_78303_s #randomStyle
protected net.minecraft.client.gui.FontRenderer field_78302_t #boldStyle
protected net.minecraft.client.gui.FontRenderer field_78301_u #italicStyle
protected net.minecraft.client.gui.FontRenderer field_78300_v #underlineStyle
protected net.minecraft.client.gui.FontRenderer field_78299_w #strikethroughStyle
protected net.minecraft.client.gui.FontRenderer field_78304_r #textColor
protected net.minecraft.client.gui.FontRenderer field_78285_g #colorCode
protected net.minecraft.client.gui.FontRenderer field_78291_n #red
protected net.minecraft.client.gui.FontRenderer field_78306_p #green
protected net.minecraft.client.gui.FontRenderer field_78292_o #blue
protected net.minecraft.client.gui.FontRenderer field_78305_q #alpha

public net.minecraft.client.gui.FontRenderer func_78265_b()V #resetStyles
protected net.minecraft.client.gui.FontRenderer func_78255_a(Ljava/lang/String;Z)V #renderStringAtPos
protected net.minecraft.client.gui.FontRenderer func_181559_a(CZ)F #renderChar


#Computercraft
# RecordMedia (and related methods)
public net.minecraft.item.ItemRecord field_185076_b # sound
public net.minecraft.item.ItemRecord field_185077_c # displayName
